.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: linear-gradient(to top, #ffffff, #d0c1c1e7);
}

.productImage {
  margin-right: 20px;
  border-radius: 8px;
  border: 1px black solid;
}

.cartItem h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  line-height: 350%;
}

.cartItem p {
  margin: 5px 0;
  font-weight: bold;
  line-height: 150%;

}

.removeButton {
  margin: auto;
  padding: 8px 12px;
  background-color: #181616;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.removeButton:hover {
  background-color: #ff0000;

}
.emptyCart{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.CartTitle{
  text-align: center;
  border-bottom: 1px black solid;
}
