:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
header{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 1rem auto;
  border-bottom: 2px grey solid;
  padding: 1em auto;
  background: rgb(112,112,231);
  background: linear-gradient(to top, #ffffff, #928383b1);
}
h1{
  text-align: start;
  margin: 6rem 2rem;
}
.home-page-products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 5rem;
}
footer{
  margin: 2rem auto;
  border-top: 2px rgb(214, 214, 214) solid;
  color: black;
}
nav a{
font-size: 1.3rem;
margin-right: 1rem;
color: black;
}
nav a:hover{
  color: silver;
}
