.hero {
  text-align: center;
  padding: 80px 20px;
  background-image: url('/images/homepage.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  text-align: center;
}

.hero h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  color: rgb(255, 248, 248);
}

.shopNowButton {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #ff8c42;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.shopNowButton:hover {
  background-color: #ff6b2c;
}

.productsSection {
  text-align: center;
  margin-top: 50px;
}

.productsSection h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 20px;
}

.productLink {
  text-align: center;
  color: #333;
  text-decoration: none;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.productLink:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.productLink p {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #333;
}
